<div class="text-center">
  <h1>マイページ</h1>  
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-2 text-left">ユーザー名</div>
    <div class="col-sm-4 text-center"><%= @user.name %></div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-2 text-left">Eメール</div>
    <div class="col-sm-4 text-center"><%= @user.email %></div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-2 text-left">デッキ数</div>
    <div class="col-sm-4 text-center">decknumber<%#= %></div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-2 text-left">カード数</div>
    <div class="col-sm-4 text-center">cardnumber<%#= %></div>
  </div>
</div>