<div class="text-center">
  <h1>マイページ</h1>  
</div>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="text-center">ユーザー名</td>
      <td class="text-center"><%= @user.name %></td>
    </tr>
    <tr>
      <td class="text-center">Eメール</td>
      <td class="text-center"><%= @user.email %></div>
    </tr>
    <tr>
      <td class="text-center">デッキ数</td>
      <td class="text-center"><%= @count_decks %></td>
    </tr>
    <tr>
      <td class="text-center">カード数</td>
      <td class="text-center"><%= @count_all_cards %></td>
    </tr>    
  </tbody>
</table>